.env.local
/.htaccess
.vagrant
exports/
node_modules/
wp-config.php
wp-content/cache/*
wp-content/debug.log
wp-content/mmr
wp-content/plugins/wordfence/tmp/
wp-content/uploads/
wp-content/wp-cache-config.php
!.gitkeep
.idea
.well-known